footer {
	position: fixed;
	bottom: 10px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.keyboard-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
}

.keyboard-column {
	width: 40px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #babbaf;
	border-radius: 8px;
	background-color: gray;
	color: white;
	font-weight: bold;
}

.keyboard-column.desc {
	width: 80px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* keyboard-column 클래스 안에 있는 img 속성 */
.keyboard-column img {
	width: 35px;
	/* 이미지 색상 변경, invert()는 이미지의 색상을 반전 시킨다 */
	filter: invert();
}
